h1{
    color: rgb(112, 4, 4);
    background-color: rgb(2, 51, 51);
    text-align: center;
    text-shadow: 3px 3px 2px lightslategrey;

}

.one{
 width: 1200px;
 height: 500px;
 background-color: chartreuse;
 text-align: center;
 background-image: url(img/Bank_of_India_logo.svg.png);
}

h2{
  color: gold;
  text-shadow: 3px 5px 3px black;

}



